In [1]:
import pandas as pd
import os

In [8]:
ppath = '/stanley/WangLab/Connie/02.TEMPOmap/01.revision16Gene'
dpath = '/stanley/WangLab/Data/Processed/2022-09-12-Rena-HeLa16Gene'
df = pd.read_excel(os.path.join(ppath, '2022-09-12-TEMPOmapHeLa16Gene-Test-Gene.xlsx'), sheet_name='Sheet1')
df

      Gene N3 Barcode(N2N1) N0 Complete Barcode           Annotation
0     EEF2  C            AA  C             CAAC                  NaN
1     TFRC  C            AT  C             CATC                  NaN
2    NEAT1  C            AC  C             CACC                  NaN
3    TOP2A  C            AG  C             CAGC                  NaN
4     DAG1  C            TA  C             CTAC                  NaN
5    MKI67  C            TT  C             CTTC                  NaN
6   TMEM43  C            TC  C             CTCC                  NaN
7    TTYH3  C            TG  C             CTGC                  NaN
8    BIRC5  C            CA  C             CCAC                  NaN
9     PCNA  C            CT  C             CCTC                  NaN
10    CDK1  C            CC  C             CCCC                  NaN
11    MCM2  C            CG  C             CCGC                  NaN
12     UNG  C            GA  C             CGAC                  NaN
13   CENPO  C            GT  C             CGTC                  NaN
14   KIF23  C            GC  C             CGCC                  NaN
15   GAPDH  C            GG  C             CGGC  STARmap anchor gene

In [6]:
df_unique = df.drop_duplicates(subset='Complete Barcode')[['Gene', 'Complete Barcode']]
df_unique

      Gene Complete Barcode
0     EEF2             CAAC
1     TFRC             CATC
2    NEAT1             CACC
3    TOP2A             CAGC
4     DAG1             CTAC
5    MKI67             CTTC
6   TMEM43             CTCC
7    TTYH3             CTGC
8    BIRC5             CCAC
9     PCNA             CCTC
10    CDK1             CCCC
11    MCM2             CCGC
12     UNG             CGAC
13   CENPO             CGTC
14   KIF23             CGCC
15   GAPDH             CGGC

In [9]:
df_unique.to_csv(os.path.join(ppath, 'genes.csv'), index=False, header=False)
df_unique.to_csv(os.path.join(dpath, 'genes.csv'), index=False, header=False)